.footer-section{
  background: #0d211c;
  position: relative;
  
  ul {
    margin: 0px;
    padding: 0px;
}


.footer-cta {
  border-bottom: 1px solid #373636;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}

.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

@media (max-width: 768px) {
	.single-cta {
	  margin-bottom: 15px;
	}
	.footer-cta{
		padding: 15px 15px !important;
	}
  }

} 
